<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Books</h1>

<p1>Here are all of the current books we have in our collection!</p1>
<p>If you wish to add one, please use the form below:</p>

<form method="POST" action="/books">
    <input type="text" name="title" placeholder="Title"><br>
    <input type="text" name="author" placeholder="Author"><br>
    <input type="text" name="image_url" placeholder="Image url"><br>
    <input type="submit" value="Submit">
</form>

<div class="book-grid">
    {% for book in books %}
    <div class="book-card">
        <img src="{{ book.image_url }}" alt="{{ book.title }}" class="book-thumbnail">
        <h3>{{ book.title }}</h3>
        <p id="author-list">Author: {{ book.author }}</p>
    </div>
    {% endfor %}
</div>