<html>
    <head>
        <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css"> -->
    </head>
    <body>
        <h1>Toby's Terrific Tales (TTT)</h1>
        <p id="welcome-message">Hey everone and welcome to TTT!</p>
        <p>Please feel free to browse through our vast collection of some of the most popular adventures to date.</p>
        <p>For each book listed, we provide it's:</p>
        <ul id="book-features">
            <li>Cover (well, one of)</li>
            <li>Title</li>
            <li>Author's name</li>
        </ul>
        <p>And for each film listed, we provide it's:</p>
        <ul id="film-features">
            <li>Original cinema poster</li>
            <li>Title</li>
            <li>Release date</li>
        </ul>
        <p>We also have a page that lists some famous quotes on both reading and cinema as well as one on our fantastic team.</p>
        <p id="closing-message">Now, go forth and find your next captivating enthrallment...</p>
    </body>
</html>