<html>
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    </head>
    <body>
        <h1>Hello and welcome to Toby's Terrific Tales!</h1>
        <p>Here, we have a vast collection of magnificent stories ready for you to browse at your own leisure and enjoyment.</p>
        <p>For each novel listed, we provide it's:</p>
        <ul>
            <li>Title</li>
            <li>Author's name</li>
            <li>Author's date of birth</li>
        </ul>
        <p>Now, go and find your next captivating enthrallment...</p>
    </body>
</html>